In [2]:
import pandas as pd

In [3]:
# https://www.txlottery.org/export/sites/lottery/Games/Powerball/Winning_Numbers/index.html_1444349437.html

In [4]:
# 4 Mars Facts - table containing facts about the planet including Diameter, Mass, etc.

texas_url = "https://www.txlottery.org/export/sites/lottery/Games/Powerball/Winning_Numbers/index.html_1444349437.html"

texas_data = pd.read_html(texas_url)
# texas_df = pd.DataFrame(texas_data)
# texas_df.head()
texas_df = texas_data[0]
texas_df.columns

texas_df.rename(columns={'Draw Date':'draw_date', 'Winning Numbers':'winning_numbers', 'Powerball':'powerball', 'Power Play':'power_play','Estimated Jackpot':'estimated_jackpot', 'Jackpot Winners':'jackpot_winner', 'Jackpot Option':'jackpot_option'}, inplace=True)

new_df = texas_df.drop(columns=['winning_numbers'])
new_df.head()

,draw_date,powerball,power_play,estimated_jackpot,jackpot_winner,jackpot_option
0,05/01/2019,17.0,5.0,$181 Million,Roll,NaN
1,04/27/2019,6.0,3.0,$166 Million,Roll,NaN
2,04/24/2019,4.0,5.0,$150 Million,Roll,NaN
3,04/20/2019,1.0,3.0,$136 Million,Roll,NaN
4,04/17/2019,15.0,3.0,$118 Million,Roll,NaN

In [5]:
wisconsin = 'https://www.wilottery.com/lottogames/powerballhistoryOD.aspx'

In [6]:
wisconsin_data = pd.read_html(wisconsin)
wisconsin_df = wisconsin_data[0]
wisconsin_df.

SyntaxError: invalid syntax (<ipython-input-6-ea7b4800c5a6>, line 3)

In [10]:
winning_state_url = 'http://portalseven.com/lottery/powerball_jackpot_winners.jsp'
    
winning_state = pd.read_html(winning_state_url)[2]

,0,1,2,3,4
0,#,Draw Date,Jackpot Prize,Winner,State
1,186,"March 27, 2019",$768 Million,Unclaimed,Wisconsin
2,185,"December 26, 2018",$298.3 Million,David Johnson,New York
3,184,"October 27, 2018",$687.8 Million,Robert Bailey,New York
4,183,"August 11, 2018",$245.6 Million,The Sea & Sand Trust (Nandlall Mangal),New York

In [19]:
lotto_header = winning_state.iloc[0] 
winning_states_df = winning_state[1:] 
winning_states_df.columns = lotto_header

In [20]:
winning_states_df = winning_states_df.drop(columns=['#'])

In [21]:
winning_states_df

,Draw Date,Jackpot Prize,Winner,State
1,"March 27, 2019",$768 Million,Unclaimed,Wisconsin
2,"December 26, 2018",$298.3 Million,David Johnson,New York
3,"October 27, 2018",$687.8 Million,Robert Bailey,New York
4,"August 11, 2018",$245.6 Million,The Sea & Sand Trust (Nandlall Mangal),New York
5,"June 20, 2018",$150.4 Million,Steven Nickell,Oregon
6,"May 19, 2018",$315.3 Million,Tayeb Souami,New Jersey
7,"March 24, 2018",$55.9 Million,The Moose Family Trust,LA
8,"March 17, 2018",$456.7 Million,Emerald Legacy Trust,Pennsylvania
9,"January 06, 2018",$559.7 Million,Good Karma Family 2018 Nominee Trust,New Hampshire
10,"October 25, 2017",$191.1 Million,292 Family Partnership,Louisiana
11,"September 16, 2017",$133.2 Million,Judy F.,Colorado
12,"August 23, 2017",$758.7 Million,Mavis Wanczyk,Massachusetts
13,"June 10, 2017",$447 Million,Jeff Lindsay,California
14,"April 01, 2017",$60 Million,Anonymous,Arizona
15,"March 22, 2017",$156 Million,Mai Xiong,Wisconsin
16,"February 22, 2017",$435.3 Million,"Bohemian Financial, LLC",Indiana
17,"December 17, 2016",$121.6 Million,Anonymous,DE
18,"November 26, 2016",$420.9 Million,Tennessee 20,Tennessee
19,"September 17, 2016",$246 Million,William and Heather ten Broeke,Georgia
20,"July 30, 2016",$487 Million,Robin Egg 2016 Nominee Trust,New Hampshire
21,"May 07, 2016",$284 Million,The Smith Family Lottery Pool,New Jersey
22,"March 02, 2016",$291.4 Million,James Stocklas,Florida
23,"January 13, 2016",$1.58 Billion,Marvin and Mae Acosta,California
24,"November 04, 2015",$144 Million,Avondale Revocable Trust,Tennessee
25,"September 30, 2015",$310 Million,Julie Leach,Michigan
26,"August 01, 2015",$110 Million,Willie Nelson,California
27,"July 04, 2015",$70 Million,Tom Rea,Missouri
28,"June 20, 2015",$80 Million,Orencia Barzey,Florida
29,"June 03, 2015",$188.9 Million,Maria Herrera,Arizona
30,"April 18, 2015",$50 Million,Anonymous,Puerto Rico
...,...,...,...,...
157,"May 28, 2005",$220.3 million,Brad Duke,Idaho
158,"March 30, 2005",$25.5 million,The Hubbard Family,Tennessee
159,"March 16, 2005",$18.7 million,Bob & Patty MacZura,Pennsylvania
160,"March 05, 2005",$19.9 million,Barbara & Craig Lennen,Indiana
161,"February 23, 2005",$18.7 million,Eric Kyle,Idaho
162,"February 12, 2005",$40.6 million,Duchess Trust,Louisiana
163,"January 22, 2005",$26.4 million,"Kathleen Fitzgerald, Karen Rodgers & Janet Bigler",Pennsylvania
164,"January 08, 2005",$36.8 million,Peter Bapes,Wisconsin
165,"December 22, 2004",$30.9 million,Tim Sindel,Arizona
166,"December 08, 2004",$171.4 million,WLT Trust,Pennsylvania
167,"October 16, 2004",14.4 million,Jacquelyn Moore,Iowa
168,"October 09, 2004",$214.7 million,33 Co-Workers from Seaford,Delaware
169,"August 14, 2004",$98.7 million,Mary Beth and David Wenell,Minnesota
170,"July 07, 2004",$21.1 million,Jackie and Jim Lagoon,Minnesota
171,"June 26, 2004",$65.8 million,Anonymous,South Carolina
172,"May 29, 2004",$52 million,Jim Hare & Tom Hare,Pennsylvania
173,"May 08, 2004",$213.2 million,Steve and Kristine White,Pennsylvania
174,"March 13, 2004",$89 million,Tim and Pam Rivers,Indiana
175,"February 04, 2004",$85.5 million,The Bow Trust,New Hampshire
176,"December 31, 2003",$221.5 million,Norman and DeAnna Shue,South Carolina
177,"November 05, 2003",$12.8 million,James and Rebeca Allen,Indiana
178,"October 29, 2003",$10 million,Jon & Louanne Lashbrook,Indiana
179,"October 25, 2003",$190.9 million,Regina Mandabach,Indiana
180,"August 30, 2003",$135 million,"Aeetos Trust, Rosemary Centola & Lawrence Centola",New Hampshire
181,"July 16, 2003",$13.5 million,"Alva ""Jeanie"" Osborne",Kentucky
182,"July 09, 2003",$261.3 million,William and Claudia Walkenbach,Missouri
183,"May 07, 2003",$88.7 million,Anthony and Monica Wilson,South Carolina
184,"March 26, 2003",$62.4 million,Hobert & Mary Parnell,West Virginia
185,"February 22, 2003",$42 million,"Cello Investments, LLC",Louisiana
186,"February 01, 2003",$101 million,Rondal Eaton,Indiana

NameError: name 'master_lotto' is not defined