In [1]:
import pandas as pd

In [2]:
# https://www.txlottery.org/export/sites/lottery/Games/Powerball/Winning_Numbers/index.html_1444349437.html

In [3]:
# 4 Mars Facts - table containing facts about the planet including Diameter, Mass, etc.

texas_url = "https://www.txlottery.org/export/sites/lottery/Games/Powerball/Winning_Numbers/index.html_1444349437.html"

texas_data = pd.read_html(texas_url)
# texas_df = pd.DataFrame(texas_data)
# texas_df.head()
texas_df = texas_data[0]
texas_df.columns

texas_df.rename(columns={'Draw Date':'draw_date', 'Winning Numbers':'winning_numbers', 'Powerball':'powerball', 'Power Play':'power_play','Estimated Jackpot':'estimated_jackpot', 'Jackpot Winners':'jackpot_winner', 'Jackpot Option':'jackpot_option'}, inplace=True)

new_df = texas_df.drop(columns=['winning_numbers'])
new_df.head()

,draw_date,powerball,power_play,estimated_jackpot,jackpot_winner,jackpot_option
0,05/01/2019,17,5,$181 Million,Roll,NaN
1,04/27/2019,6,3,$166 Million,Roll,NaN
2,04/24/2019,4,5,$150 Million,Roll,NaN
3,04/20/2019,1,3,$136 Million,Roll,NaN
4,04/17/2019,15,3,$118 Million,Roll,NaN

In [6]:
wisconsin = 'https://www.wilottery.com/lottogames/powerballhistoryOD.aspx'

In [7]:
wisconsin_data = pd.read_html(wisconsin)
wisconsin_df = wisconsin_data[0]
wisconsin_df.

,Draw Date,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Powerball,Power Play
0,"Wed, May 01, 2019",66,28,23,56,5,17,5X
1,"Sat, Apr 27, 2019",45,29,62,41,2,6,3X
2,"Wed, Apr 24, 2019",35,65,32,36,6,4,5X
3,"Sat, Apr 20, 2019",3,63,27,65,30,1,3X
4,"Wed, Apr 17, 2019",15,46,66,17,1,15,3X
5,"Sat, Apr 13, 2019",17,26,32,4,49,10,2X
6,"Wed, Apr 10, 2019",39,12,21,23,67,6,4X
7,"Sat, Apr 06, 2019",33,43,60,59,15,8,3X
8,"Wed, Apr 03, 2019",25,16,32,49,19,18,2X
9,"Sat, Mar 30, 2019",54,52,21,64,68,4,3X
10,"Wed, Mar 27, 2019",44,62,20,37,16,12,3X
11,"Sat, Mar 23, 2019",66,52,60,24,25,5,3X
12,"Wed, Mar 20, 2019",10,53,50,63,14,21,2X
13,"Sat, Mar 16, 2019",67,30,34,39,53,11,2X
14,"Wed, Mar 13, 2019",69,36,45,47,18,14,3X
15,"Sat, Mar 09, 2019",45,5,59,55,6,14,3X
16,"Wed, Mar 06, 2019",21,35,10,6,46,23,2X
17,"Sat, Mar 02, 2019",27,68,25,19,1,21,2X
18,"Wed, Feb 27, 2019",49,31,59,42,21,23,5X
19,"Sat, Feb 23, 2019",32,4,20,6,14,13,2X
20,"Wed, Feb 20, 2019",50,52,49,51,27,2,2X
21,"Sat, Feb 16, 2019",48,30,41,64,29,1,4X
22,"Wed, Feb 13, 2019",2,24,8,69,14,26,2X
23,"Sat, Feb 09, 2019",7,39,2,3,1,25,3X
24,"Wed, Feb 06, 2019",13,28,5,63,38,21,5X
25,"Sat, Feb 02, 2019",10,43,17,18,65,13,5X
26,"Wed, Jan 30, 2019",16,2,12,29,54,6,2X
27,"Sat, Jan 26, 2019",12,8,21,32,20,10,4X
28,"Wed, Jan 23, 2019",50,25,48,23,47,24,3X
29,"Sat, Jan 19, 2019",5,65,8,66,41,20,3X
...,...,...,...,...,...,...,...,...
1557,"Sat, May 29, 2004",1,16,32,39,30,2,5X
1558,"Wed, May 26, 2004",38,10,31,3,35,16,2X
1559,"Sat, May 22, 2004",1,49,42,36,7,41,5X
1560,"Wed, May 19, 2004",31,14,41,37,15,31,5X
1561,"Sat, May 15, 2004",1,26,46,27,43,31,2X
1562,"Wed, May 12, 2004",42,45,11,31,35,35,4X
1563,"Sat, May 08, 2004",37,3,43,9,17,39,4X
1564,"Wed, May 05, 2004",21,25,16,9,32,8,3X
1565,"Sat, May 01, 2004",1,34,47,10,39,33,3X
1566,"Wed, Apr 28, 2004",27,34,52,49,42,23,2X
1567,"Sat, Apr 24, 2004",2,44,35,13,22,28,2X
1568,"Wed, Apr 21, 2004",11,8,51,42,34,27,4X
1569,"Sat, Apr 17, 2004",41,4,42,34,29,11,5X
1570,"Wed, Apr 14, 2004",38,22,1,20,6,22,3X
1571,"Sat, Apr 10, 2004",2,48,30,9,47,40,2X
1572,"Wed, Apr 07, 2004",7,37,2,35,16,10,5X
1573,"Sat, Apr 03, 2004",43,7,26,6,32,13,3X
1574,"Wed, Mar 31, 2004",15,31,39,34,50,35,3X
1575,"Sat, Mar 27, 2004",30,17,2,15,34,32,2X
1576,"Wed, Mar 24, 2004",39,47,43,20,18,31,5X
1577,"Sat, Mar 20, 2004",44,14,24,27,2,6,5X
1578,"Wed, Mar 17, 2004",24,15,20,43,7,5,4X
1579,"Sat, Mar 13, 2004",50,44,11,48,45,2,3X
1580,"Wed, Mar 10, 2004",10,41,22,20,49,6,5X
1581,"Sat, Mar 06, 2004",49,46,17,51,9,9,5X
1582,"Wed, Mar 03, 2004",23,11,17,53,5,34,2X
1583,"Sat, Feb 28, 2004",25,52,53,6,26,40,2X
1584,"Wed, Feb 25, 2004",4,47,17,11,5,35,5X
1585,"Sat, Feb 21, 2004",22,26,53,48,15,14,5X
1586,"Wed, Feb 18, 2004",50,36,24,4,44,2,4X

In [8]:
winning_state_url = 'http://portalseven.com/lottery/powerball_jackpot_winners.jsp'
    
winning_state = pd.read_html(winning_state_url)[2]
winning_state

,#,Draw Date,Jackpot Prize,Winner,State,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,186,"March 27, 2019",$768 Million,Unclaimed,Wisconsin,NaN,NaN,NaN
1,185,"December 26, 2018",$298.3 Million,David Johnson,New York,NaN,NaN,NaN
2,184,"October 27, 2018",$687.8 Million,Robert Bailey,New York,NaN,NaN,NaN
3,184,"October 27, 2018",$687.8 Million,183,"August 11, 2018",$245.6 Million,The Sea & Sand Trust (Nandlall Mangal),New York
4,182,"June 20, 2018",$150.4 Million,Steven Nickell,Oregon,NaN,NaN,NaN
5,181,"May 19, 2018",$315.3 Million,Tayeb Souami,New Jersey,NaN,NaN,NaN
6,180,"March 24, 2018",$55.9 Million,The Moose Family Trust,LA,NaN,NaN,NaN
7,179,"March 17, 2018",$456.7 Million,Emerald Legacy Trust,Pennsylvania,NaN,NaN,NaN
8,178,"January 06, 2018",$559.7 Million,Good Karma Family 2018 Nominee Trust,New Hampshire,NaN,NaN,NaN
9,177,"October 25, 2017",$191.1 Million,292 Family Partnership,Louisiana,NaN,NaN,NaN
10,176,"September 16, 2017",$133.2 Million,Judy F.,Colorado,NaN,NaN,NaN
11,175,"August 23, 2017",$758.7 Million,Mavis Wanczyk,Massachusetts,NaN,NaN,NaN
12,174,"June 10, 2017",$447 Million,Jeff Lindsay,California,NaN,NaN,NaN
13,173,"April 01, 2017",$60 Million,Anonymous,Arizona,NaN,NaN,NaN
14,172,"March 22, 2017",$156 Million,Mai Xiong,Wisconsin,NaN,NaN,NaN
15,171,"February 22, 2017",$435.3 Million,"Bohemian Financial, LLC",Indiana,NaN,NaN,NaN
16,170,"December 17, 2016",$121.6 Million,Anonymous,DE,NaN,NaN,NaN
17,169,"November 26, 2016",$420.9 Million,Tennessee 20,Tennessee,NaN,NaN,NaN
18,168,"September 17, 2016",$246 Million,William and Heather ten Broeke,Georgia,NaN,NaN,NaN
19,167,"July 30, 2016",$487 Million,Robin Egg 2016 Nominee Trust,New Hampshire,NaN,NaN,NaN
20,166,"May 07, 2016",$284 Million,The Smith Family Lottery Pool,New Jersey,NaN,NaN,NaN
21,165,"March 02, 2016",$291.4 Million,James Stocklas,Florida,NaN,NaN,NaN
22,164,"January 13, 2016",$1.58 Billion,Marvin and Mae Acosta,California,NaN,NaN,NaN
23,164,"January 13, 2016",$1.58 Billion,163,"November 04, 2015",$144 Million,Avondale Revocable Trust,Tennessee
24,164,"January 13, 2016",$1.58 Billion,162,"September 30, 2015",$310 Million,Julie Leach,Michigan
25,161,"August 01, 2015",$110 Million,Willie Nelson,California,NaN,NaN,NaN
26,160,"July 04, 2015",$70 Million,Tom Rea,Missouri,NaN,NaN,NaN
27,159,"June 20, 2015",$80 Million,Orencia Barzey,Florida,NaN,NaN,NaN
28,158,"June 03, 2015",$188.9 Million,Maria Herrera,Arizona,NaN,NaN,NaN
29,157,"April 18, 2015",$50 Million,Anonymous,Puerto Rico,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
157,29,"March 30, 2005",$25.5 million,The Hubbard Family,Tennessee,NaN,NaN,NaN
158,28,"March 16, 2005",$18.7 million,Bob & Patty MacZura,Pennsylvania,NaN,NaN,NaN
159,27,"March 05, 2005",$19.9 million,Barbara & Craig Lennen,Indiana,NaN,NaN,NaN
160,26,"February 23, 2005",$18.7 million,Eric Kyle,Idaho,NaN,NaN,NaN
161,25,"February 12, 2005",$40.6 million,Duchess Trust,Louisiana,NaN,NaN,NaN
162,24,"January 22, 2005",$26.4 million,"Kathleen Fitzgerald, Karen Rodgers & Janet Bigler",Pennsylvania,NaN,NaN,NaN
163,23,"January 08, 2005",$36.8 million,Peter Bapes,Wisconsin,NaN,NaN,NaN
164,22,"December 22, 2004",$30.9 million,Tim Sindel,Arizona,NaN,NaN,NaN
165,22,"December 22, 2004",$30.9 million,21,"December 08, 2004",$171.4 million,WLT Trust,Pennsylvania
166,22,"December 22, 2004",$30.9 million,20,"October 16, 2004",14.4 million,Jacquelyn Moore,Iowa
167,19,"October 09, 2004",$214.7 million,33 Co-Workers from Seaford,Delaware,NaN,NaN,NaN
168,18,"August 14, 2004",$98.7 million,Mary Beth and David Wenell,Minnesota,NaN,NaN,NaN
169,17,"July 07, 2004",$21.1 million,Jackie and Jim Lagoon,Minnesota,NaN,NaN,NaN
170,16,"June 26, 2004",$65.8 million,Anonymous,South Carolina,NaN,NaN,NaN
171,15,"May 29, 2004",$52 million,Jim Hare & Tom Hare,Pennsylvania,NaN,NaN,NaN
172,14,"May 08, 2004",$213.2 million,Steve and Kristine White,Pennsylvania,NaN,NaN,NaN
173,13,"March 13, 2004",$89 million,Tim and Pam Rivers,Indiana,NaN,NaN,NaN
174,12,"February 04, 2004",$85.5 million,The Bow Trust,New Hampshire,NaN,NaN,NaN
175,11,"December 31, 2003",$221.5 million,Norman and DeAnna Shue,South Carolina,NaN,NaN,NaN
176,11,"December 31, 2003",$221.5 million,10,"November 05, 2003",$12.8 million,James and Rebeca Allen,Indiana
177,9,"October 29, 2003",$10 million,Jon & Louanne Lashbrook,Indiana,NaN,NaN,NaN
178,8,"October 25, 2003",$190.9 million,Regina Mandabach,Indiana,NaN,NaN,NaN
179,8,"October 25, 2003",$190.9 million,7,"August 30, 2003",$135 million,"Aeetos Trust, Rosemary Centola & Lawrence Centola",New Hampshire
180,6,"July 16, 2003",$13.5 million,"Alva ""Jeanie"" Osborne",Kentucky,NaN,NaN,NaN
181,5,"July 09, 2003",$261.3 million,William and Claudia Walkenbach,Missouri,NaN,NaN,NaN
182,5,"July 09, 2003",$261.3 million,4,"May 07, 2003",$88.7 million,Anthony and Monica Wilson,South Carolina
183,3,"March 26, 2003",$62.4 million,Hobert & Mary Parnell,West Virginia,NaN,NaN,NaN
184,2,"February 22, 2003",$42 million,"Cello Investments, LLC",Louisiana,NaN,NaN,NaN
185,2,"February 22, 2003",$42 million,1,"February 01, 2003",$101 million,Rondal Eaton,Indiana
186,1,"February 01, 2003",$101 million,NaN,NaN,NaN,NaN,NaN