In [1]:
import pandas as pd

In [2]:
# https://www.txlottery.org/export/sites/lottery/Games/Powerball/Winning_Numbers/index.html_1444349437.html

In [12]:
# 4 Mars Facts - table containing facts about the planet including Diameter, Mass, etc.

texas_url = "https://www.txlottery.org/export/sites/lottery/Games/Powerball/Winning_Numbers/index.html_1444349437.html"

texas_data = pd.read_html(texas_url)
# texas_df = pd.DataFrame(texas_data)
# texas_df.head()
texas_df = texas_data[0]
texas_df.columns

texas_df.rename(columns={'Draw Date':'draw_date', 'Winning Numbers':'winning_numbers', 'Powerball':'powerball', 'Power Play':'power_play','Estimated Jackpot':'estimated_jackpot', 'Jackpot Winners':'jackpot_winner', 'Jackpot Option':'jackpot_option'}, inplace=True)

new_df = texas_df.drop(columns=['winning_numbers'])
new_df.head()

,draw_date,powerball,power_play,estimated_jackpot,jackpot_winner,jackpot_option
0,04/27/2019,6,3,$166 Million,Roll,NaN
1,04/24/2019,4,5,$150 Million,Roll,NaN
2,04/20/2019,1,3,$136 Million,Roll,NaN
3,04/17/2019,15,3,$118 Million,Roll,NaN
4,04/13/2019,10,2,$101 Million,Roll,NaN

In [6]:
state_url = 'https://www.powerball.net/winners'

In [ ]:
state_data = pd.read_html(state_url)
state_data[0]

In [ ]:
wisconsin = 'https://www.wilottery.com/lottogames/powerballhistoryOD.aspx'

In [ ]:
wisconsin_data = pd.read_html(wisconsin)
wisconsin_data[0]

In [ ]:
winning_state_url = 'http://portalseven.com/lottery/powerball_jackpot_winners.jsp'
    
winning_state = pd.read_html(winning_state_url)[2]
winning_state