In [1]:
import pandas as pd

In [2]:
file_path = 'data/pb_winning_numbers_03-18-2017.csv'

In [3]:
pb = pd.read_csv(file_path)
pb_clean = pb[pb['DrawDate'] < '01/01/2010']
pb

        DrawDate  WB1  WB2  WB3  WB4  WB5  PB    PP
0     03/15/2017   30   16   41   48   53  16   3.0
1     03/11/2017   57   41   50   26    1  11   2.0
2     03/08/2017   42   23   59   46   33   4   2.0
3     03/04/2017    2   22   63   19   18  19   3.0
4     03/01/2017   16   10   52   40   55  17  10.0
5     02/25/2017    6   62   32   47   65  19   2.0
6     02/22/2017   52   10   61   28   13   2   2.0
7     02/18/2017    9    3   33    7   31  20   3.0
8     02/15/2017   33    5   42   38   28  19   2.0
9     02/11/2017   37   64   17    9    5   2   2.0
10    02/08/2017   49   20   42   14   66   5   2.0
11    02/04/2017   52   17   16   13    6  25   3.0
12    02/01/2017    9   60   64   43   57  10   2.0
13    01/28/2017   39   12   49   69   20  17   2.0
14    01/25/2017   18   62   66   68   28  22   2.0
15    01/21/2017   45   25   23   67   52   2   2.0
16    01/18/2017   41    9   58   40   53  12   2.0
17    01/14/2017   55   69   23   64   59  13   5.0
18    01/11/2017    1   16   13   43    3  24   2.0
19    01/07/2017   37   63   12   24    3  10   2.0
20    01/04/2017   17   16   42   41   29   4   3.0
21    12/31/2016    1   28    3   67   57   9   2.0
22    12/28/2016   30   23   44   58   16   4   2.0
23    12/24/2016   38   52   42   51   28  21   2.0
24    12/21/2016   25   68   40   54   33   3   5.0
25    12/17/2016   16   40    8   48    1  10   2.0
26    12/14/2016   39   18   66   37   26  15   3.0
27    12/10/2016   32   21   12   44   66  15   2.0
28    12/07/2016   49   64   48   41   53  20   2.0
29    12/03/2016   27   26   33    8   10  22   2.0
...          ...  ...  ...  ...  ...  ...  ..   ...
1992  02/11/1998   37   34   33   25   35  35   NaN
1993  02/07/1998   40   12   15    5   27  14   NaN
1994  02/04/1998   30   25   12    8   21  20   NaN
1995  01/31/1998   13   36   48    7   11  18   NaN
1996  01/28/1998   23   48   36   15   31  12   NaN
1997  01/24/1998    7   23   15   28   36  10   NaN
1998  01/21/1998   31   32   23    1   26  33   NaN
1999  01/17/1998   28    9   49   38   29   6   NaN
2000  01/14/1998   16    9    6   28   38  13   NaN
2001  01/10/1998   17    9    7   44   20  25   NaN
2002  01/07/1998   18    4   30   37    3  23   NaN
2003  01/03/1998    4    9   27    7   32   6   NaN
2004  12/31/1997   27   14    6    4    5   6   NaN
2005  12/27/1997   14   48   15   36    9  17   NaN
2006  12/24/1997   28   16   35   34    3  14   NaN
2007  12/20/1997   23   11   12   17   10   7   NaN
2008  12/17/1997    3    5   45   18   13  20   NaN
2009  12/13/1997   44   41   46   35    5  27   NaN
2010  12/10/1997   18   21   28   41    4   3   NaN
2011  12/06/1997   15   26   28    8   43  36   NaN
2012  12/03/1997   18    9   14   47   42  32   NaN
2013  11/29/1997   11   27   13    2   31  23   NaN
2014  11/26/1997   15   46   34   23   40  35   NaN
2015  11/22/1997   22   31    3    7   14   2   NaN
2016  11/19/1997   19   10   48    3   21  22   NaN
2017  11/15/1997   32    7   45   21   26   8   NaN
2018  11/12/1997   41   14   13   29   16   1   NaN
2019  11/08/1997   40   17   21    7   49  37   NaN
2020  11/05/1997    2   19   35   24   28  26   NaN
2021  11/01/1997   37   28   33   22   25  20   NaN

[2022 rows x 8 columns]

In [11]:
texas_url = "https://www.txlottery.org/export/sites/lottery/Games/Powerball/Winning_Numbers/index.html_1444349437.html"

texas_data = pd.read_html(texas_url)
texas_df = texas_data[0]
texas_df.rename(columns={'Draw Date':'DrawDate', 'Winning Numbers':'winning_numbers', 'Powerball':'powerball', 'Power Play':'power_play','Estimated Jackpot':'estimated_jackpot', 'Jackpot Winners':'jackpot_winner', 'Jackpot Option':'jackpot_option'}, inplace=True)
texas_df = texas_df.drop(columns=['winning_numbers'])

clean_texas = texas_df[['DrawDate', 'estimated_jackpot', 'jackpot_winner', 'jackpot_option']]
clean_texas.describe()

In [12]:
clean_texas

       DrawDate estimated_jackpot       jackpot_winner jackpot_option
0    05/01/2019      $181 Million                 Roll            NaN
1    04/27/2019      $166 Million                 Roll            NaN
2    04/24/2019      $150 Million                 Roll            NaN
3    04/20/2019      $136 Million                 Roll            NaN
4    04/17/2019      $118 Million                 Roll            NaN
5    04/13/2019      $101 Million                 Roll            NaN
6    04/10/2019       $84 Million                 Roll            NaN
7    04/06/2019       $68 Million                 Roll            NaN
8    04/03/2019       $54 Million                 Roll            NaN
9    03/30/2019       $40 Million                 Roll            NaN
10   03/27/2019      $750 Million  Out of State Winner            NaN
11   03/23/2019      $625 Million                 Roll            NaN
12   03/20/2019      $550 Million                 Roll            NaN
13   03/16/2019      $495 Million                 Roll            NaN
14   03/13/2019      $448 Million                 Roll            NaN
15   03/09/2019      $414 Million                 Roll            NaN
16   03/06/2019      $381 Million                 Roll            NaN
17   03/02/2019      $348 Million                 Roll            NaN
18   02/27/2019      $322 Million                 Roll            NaN
19   02/23/2019      $304 Million                 Roll            NaN
20   02/20/2019      $282 Million                 Roll            NaN
21   02/16/2019      $260 Million                 Roll            NaN
22   02/13/2019      $242 Million                 Roll            NaN
23   02/09/2019      $224 Million                 Roll            NaN
24   02/06/2019      $204 Million                 Roll            NaN
25   02/02/2019      $191 Million                 Roll            NaN
26   01/30/2019      $174 Million                 Roll            NaN
27   01/26/2019      $161 Million                 Roll            NaN
28   01/23/2019      $144 Million                 Roll            NaN
29   01/19/2019      $129 Million                 Roll            NaN
..          ...               ...                  ...            ...
937  05/15/2010      $120 Million                 Roll            NaN
938  05/12/2010       $97 Million                 Roll            NaN
939  05/08/2010       $80 Million                 Roll            NaN
940  05/05/2010       $60 Million                 Roll            NaN
941  05/01/2010       $45 Million                 Roll            NaN
942  04/28/2010       $30 Million                 Roll            NaN
943  04/24/2010       $20 Million                 Roll            NaN
944  04/21/2010      $252 Million  Out of State Winner            NaN
945  04/17/2010      $212 Million                 Roll            NaN
946  04/14/2010      $175 Million                 Roll            NaN
947  04/10/2010      $150 Million                 Roll            NaN
948  04/07/2010      $125 Million                 Roll            NaN
949  04/03/2010      $103 Million                 Roll            NaN
950  03/31/2010       $81 Million                 Roll            NaN
951  03/27/2010       $60 Million                 Roll            NaN
952  03/24/2010       $43 Million                 Roll            NaN
953  03/20/2010       $28 Million                 Roll            NaN
954  03/17/2010       $20 Million                 Roll            NaN
955  03/13/2010      $200 Million  Out of State Winner            NaN
956  03/10/2010      $170 Million                 Roll            NaN
957  03/06/2010      $139 Million                 Roll            NaN
958  03/03/2010      $114 Million                 Roll            NaN
959  02/27/2010       $95 Million                 Roll            NaN
960  02/24/2010       $76 Million                 Roll            NaN
961  02/20/2010       $57 Million                 Roll            NaN
962  02/17/2010       $40 Million                 Roll            NaN
963  02/13/2010       $25 Million                 Roll            NaN
964  02/10/2010       $20 Million                 Roll            NaN
965  02/06/2010      $140 Million  Out of State Winner            NaN
966  02/03/2010      $115 Million                 Roll            NaN

[967 rows x 4 columns]

In [17]:
df = pb.merge(clean_texas, how='inner')

In [18]:
df

,DrawDate,WB1,WB2,WB3,WB4,WB5,PB,PP,estimated_jackpot,jackpot_winner,jackpot_option
0,03/15/2017,30,16,41,48,53,16,3.0,$123 Million,Roll,NaN
1,03/11/2017,57,41,50,26,1,11,2.0,$104 Million,Roll,NaN
2,03/08/2017,42,23,59,46,33,4,2.0,$85 Million,Roll,NaN
3,03/04/2017,2,22,63,19,18,19,3.0,$68 Million,Roll,NaN
4,03/01/2017,16,10,52,40,55,17,10.0,$53 Million,Roll,NaN
5,02/25/2017,6,62,32,47,65,19,2.0,$40 Million,Roll,NaN
6,02/22/2017,52,10,61,28,13,2,2.0,$403 Million,Out of State Winner,NaN
7,02/18/2017,9,3,33,7,31,20,3.0,$349 Million,Roll,NaN
8,02/15/2017,33,5,42,38,28,19,2.0,$310 Million,Roll,NaN
9,02/11/2017,37,64,17,9,5,2,2.0,$285 Million,Roll,NaN
10,02/08/2017,49,20,42,14,66,5,2.0,$255 Million,Roll,NaN
11,02/04/2017,52,17,16,13,6,25,3.0,$229 Million,Roll,NaN
12,02/01/2017,9,60,64,43,57,10,2.0,$206 Million,Roll,NaN
13,01/28/2017,39,12,49,69,20,17,2.0,$187 Million,Roll,NaN
14,01/25/2017,18,62,66,68,28,22,2.0,$170 Million,Roll,NaN
15,01/21/2017,45,25,23,67,52,2,2.0,$153 Million,Roll,NaN
16,01/18/2017,41,9,58,40,53,12,2.0,$135 Million,Roll,NaN
17,01/14/2017,55,69,23,64,59,13,5.0,$121 Million,Roll,NaN
18,01/11/2017,1,16,13,43,3,24,2.0,$106 Million,Roll,NaN
19,01/07/2017,37,63,12,24,3,10,2.0,$94 Million,Roll,NaN
20,01/04/2017,17,16,42,41,29,4,3.0,$80 Million,Roll,NaN
21,12/31/2016,1,28,3,67,57,9,2.0,$70 Million,Roll,NaN
22,12/28/2016,30,23,44,58,16,4,2.0,$60 Million,Roll,NaN
23,12/24/2016,38,52,42,51,28,21,2.0,$50 Million,Roll,NaN
24,12/21/2016,25,68,40,54,33,3,5.0,$40 Million,Roll,NaN
25,12/17/2016,16,40,8,48,1,10,2.0,$119 Million,Out of State Winner,NaN
26,12/14/2016,39,18,66,37,26,15,3.0,$100 Million,Roll,NaN
27,12/10/2016,32,21,12,44,66,15,2.0,$85 Million,Roll,NaN
28,12/07/2016,49,64,48,41,53,20,2.0,$67 Million,Roll,NaN
29,12/03/2016,27,26,33,8,10,22,2.0,$54 Million,Roll,NaN
...,...,...,...,...,...,...,...,...,...,...,...
713,05/15/2010,28,15,36,23,21,20,2.0,$120 Million,Roll,NaN
714,05/12/2010,52,58,53,37,51,38,2.0,$97 Million,Roll,NaN
715,05/08/2010,41,5,57,34,22,31,5.0,$80 Million,Roll,NaN
716,05/05/2010,47,13,34,40,57,11,4.0,$60 Million,Roll,NaN
717,05/01/2010,23,25,16,49,58,20,4.0,$45 Million,Roll,NaN
718,04/28/2010,28,44,12,22,25,24,4.0,$30 Million,Roll,NaN
719,04/24/2010,57,56,1,53,12,5,2.0,$20 Million,Roll,NaN
720,04/21/2010,11,34,55,41,49,20,2.0,$252 Million,Out of State Winner,NaN
721,04/17/2010,22,41,49,21,5,15,5.0,$212 Million,Roll,NaN
722,04/14/2010,14,6,32,52,38,20,3.0,$175 Million,Roll,NaN
723,04/10/2010,21,22,52,49,58,34,2.0,$150 Million,Roll,NaN
724,04/07/2010,36,52,44,4,40,33,2.0,$125 Million,Roll,NaN
725,04/03/2010,15,59,52,10,31,4,4.0,$103 Million,Roll,NaN
726,03/31/2010,13,45,54,5,17,12,5.0,$81 Million,Roll,NaN
727,03/27/2010,21,7,32,52,44,10,4.0,$60 Million,Roll,NaN
728,03/24/2010,14,49,39,24,20,7,3.0,$43 Million,Roll,NaN
729,03/20/2010,9,36,44,45,39,9,2.0,$28 Million,Roll,NaN
730,03/17/2010,55,26,48,45,24,8,2.0,$20 Million,Roll,NaN
731,03/13/2010,16,36,20,6,31,8,5.0,$200 Million,Out of State Winner,NaN
732,03/10/2010,41,37,17,50,21,1,2.0,$170 Million,Roll,NaN
733,03/06/2010,41,33,10,59,29,15,2.0,$139 Million,Roll,NaN
734,03/03/2010,14,49,9,7,45,23,4.0,$114 Million,Roll,NaN
735,02/27/2010,47,18,58,53,51,30,2.0,$95 Million,Roll,NaN
736,02/24/2010,50,17,57,35,4,12,2.0,$76 Million,Roll,NaN
737,02/20/2010,13,54,41,37,27,32,2.0,$57 Million,Roll,NaN
738,02/17/2010,36,7,26,8,19,15,3.0,$40 Million,Roll,NaN
739,02/13/2010,14,10,40,51,30,1,4.0,$25 Million,Roll,NaN
740,02/10/2010,29,8,37,38,5,34,5.0,$20 Million,Roll,NaN
741,02/06/2010,22,54,52,14,59,4,3.0,$140 Million,Out of State Winner,NaN
742,02/03/2010,37,52,22,36,17,24,2.0,$115 Million,Roll,NaN

In [24]:
df.to_csv('/data/master_lotto.csv')

FileNotFoundError: [Errno 2] No such file or directory: '../data/master_lotto.csv'