# ETL Project

Use Pandas scraping to help ...

In [1]:
import pandas as pd
import os
import time
from bs4 import BeautifulSoup as bs
from selenium import webdriver
import requests
from splinter import Browser
from splinter.exceptions import ElementDoesNotExist

In [2]:
##sales data
url = "http://www.lottoreport.com/ticketcomparison.htm"
tables = pd.read_html(url)
tables

[                                                   0  \
 0                                                NaN
 1  Mega Millions - 2019 - $2 Per Ticket Total Tic...
 2                                               Date
 3  05/03/19 04/30/19 04/26/19 04/23/19 04/19/19 0...

                                                    1  \
 0                                                NaN
 1  Powerball - 2019 - $2 Per Ticket Total Tickets...
 2  MM & JJ - # of Tickets Sold Includes "Just the...
 3  ?? 16,295,730 15,813,941 14,374,120 14,198,136...

                                                    2  \
 0                                                NaN
 1                                                NaN
 2                                 Jackpot (Millions)
 3  $252 $229 $212 $192 $175 $157 $140 $120 $104 $...

                                                    3  \
 0                                                NaN
 1                                                NaN
 2                                               Date
 3  05/04/19 05/01/19 04/27/19 04/24/19 04/20/19 0...

                                                    4  \
 0                                                NaN
 1                                                NaN
 2                                  # of Tickets Sold
 3  ?? ?? 17,204,152 15,122,600 16,422,502 14,472,...

                                                    5
 0                                                NaN
 1                                                NaN
 2                                 Jackpot (Millions)
 3  $ $181 $166 $150 $136 $118 $101 $84 $68 $54 $4...  ]

In [6]:
df = tables[0]

df.head(20)

,0,1,2,3,4,5
0,NaN,NaN,NaN,NaN,NaN,NaN
1,Mega Millions - 2019 - $2 Per Ticket Total Tic...,Powerball - 2019 - $2 Per Ticket Total Tickets...,NaN,NaN,NaN,NaN
2,Date,"MM & JJ - # of Tickets Sold Includes ""Just the...",Jackpot (Millions),Date,# of Tickets Sold,Jackpot (Millions)
3,05/03/19 04/30/19 04/26/19 04/23/19 04/19/19 0...,"?? 16,295,730 15,813,941 14,374,120 14,198,136...",$252 $229 $212 $192 $175 $157 $140 $120 $104 $...,05/04/19 05/01/19 04/27/19 04/24/19 04/20/19 0...,"?? ?? 17,204,152 15,122,600 16,422,502 14,472,...",$ $181 $166 $150 $136 $118 $101 $84 $68 $54 $4...

In [10]:
sales_file = "./data/powerball_sales.xlsx"
sales_df = pd.read_excel(sales_file)

sales_df.head()

        Date Number of Tickets Sold  Jackpot (Millions)
0 2019-04-27               17204152               166.0
1 2019-04-24               15122600               150.0
2 2019-04-20               16422502               136.0
3 2019-04-17               14472208               118.0
4 2019-04-13               15663006               101.0